@import "../../../../styles/settings/sizes";
@import "../../../../styles/tools/animations";
@import "../../../../styles/tools/buttons";
@import "../../../../styles/tools/inputs";
@import "../../../../styles/tools/layout";
@import "../../../../styles/tools/text";
@import "../../../../styles/tools/transitions";

@mixin displayAnswers
{

  .DrawDuoDisplayVoting--displayAnswers &
  {
    @content;
  }

}

.DrawDuoDisplayVoting
{
  position:        fixed;
  top:             0;
  left:            0;
  right:           0;
  bottom:          0;
  display:         flex;
  align-items:     center;
  justify-content: center;
}

.DrawDuoDisplayVoting__content
{
  display:         flex;
  align-items:     center;
  justify-content: center;
}

.DrawDuoDisplayVoting__answers
{
  flex: 1;

  &:first-of-type
  {
    @include slideInRightAnimationDefaults;

    @include displayAnswers
    {
      @include slideInRightAnimation;
    }

  }

  &:last-of-type
  {
    @include slideInLeftAnimationDefaults;

    @include displayAnswers
    {
      @include slideInLeftAnimation;
    }

  }

}

.DrawDuoDisplayVoting__answers__answer
{
  @include drawDuoFont;
  font-weight: 700;
  font-size:   24px;
  line-height: 24px;
  margin:      40px 0;
}

.DrawDuoDisplayVoting__drawingContainer
{
  position: relative;
  margin:   0 40px;
}

.DrawDuoDisplayVoting__drawing__label
{
  @include largeDrawDuoHeading;
  position:   absolute;
  left:       0;
  right:      0;
  top:        100%;
  text-align: center;
  margin-top: 40px;
}

.DrawDuoDisplayVoting__drawing__label__text
{
  position: absolute;
  left:     0;
  right:    0;

  @include slideEnter
  {
    opacity:   0.01;
    transform: translateX(100px);
  }

  @include slideEnterActive
  {
    opacity:    1;
    transform:  translateX(0);
    transition: opacity 250ms ease-in, transform 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  @include slideExit
  {
    transform: translateX(0);
    opacity:   1;
  }

  @include slideExitActive
  {
    transform:  translateX(-100px);
    opacity:    0.01;
    transition: opacity 250ms ease-in, transform 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

}