@import "../../../../styles/settings/sizes";
@import "../../../../styles/tools/animations";
@import "../../../../styles/tools/buttons";
@import "../../../../styles/tools/inputs";
@import "../../../../styles/tools/layout";
@import "../../../../styles/tools/text";
@import "../../../../styles/tools/textures";
@import "../../../../styles/tools/transitions";

@mixin displayAnswers
{

  .DrawDuoDisplayVoting--displayAnswers &
  {
    @content;
  }

}

@mixin isGuessing
{

  &.DrawDuoDisplayVoting--guessing,
  .DrawDuoDisplayVoting--guessing &
  {
    @content;
  }

}

@mixin isNotGuessing
{

  &.DrawDuoDisplayVoting--completed,
  .DrawDuoDisplayVoting--completed &,
  &.DrawDuoDisplayVoting--voting,
  .DrawDuoDisplayVoting--voting &,
  &.DrawDuoDisplayVoting--results,
  .DrawDuoDisplayVoting--results &
  {
    @content;
  }

}

@mixin isVoting
{

  &.DrawDuoDisplayVoting--voting,
  .DrawDuoDisplayVoting--voting &
  {
    @content;
  }

}

@mixin isResults
{

  &.DrawDuoDisplayVoting--results,
  .DrawDuoDisplayVoting--results &
  {
    @content;
  }

}

@mixin isCompleted
{

  &.DrawDuoDisplayVoting--completed,
  .DrawDuoDisplayVoting--completed &
  {
    @content;
  }

}

.DrawDuoDisplayVoting
{
  position:        fixed;
  top:             0;
  left:            0;
  right:           0;
  bottom:          0;
  display:         flex;
  align-items:     center;
  justify-content: center;
}

.DrawDuoDisplayVoting__content
{
  display:         flex;
  align-items:     center;
  justify-content: center;
  transition:      transform 500ms ease;

  @include isResults
  {
    transform: translateY(-50px);
  }

  @include isCompleted
  {
    transform: translateY(-50px);
  }

}

.DrawDuoDisplayVoting__answers
{
  position: relative;
  flex:     1;

  &:first-of-type
  {
    @include slideInRightAnimationDefaults;

    @include isNotGuessing
    {
      left: 50px;
    }

    @include displayAnswers
    {
      @include slideInRightAnimation;
    }

  }

  &:last-of-type
  {
    @include slideInLeftAnimationDefaults;

    @include isNotGuessing
    {
      right: 50px;
    }

    @include displayAnswers
    {
      @include slideInLeftAnimation;
    }

  }

}

.DrawDuoDisplayVoting__answers__answer
{
  @include drawDuoFont;
  font-weight: 700;
  font-size:   32px;
  line-height: 32px;
  margin:      40px 0;

  &.DrawDuoDisplayVoting__answers__answer--alreadyRevealed
  {

    .DrawDuoDisplayVoting__answers--left &
    {
      @include slideOutLeftAnimation;
    }

    .DrawDuoDisplayVoting__answers--right &
    {
      @include slideOutRightAnimation;
    }

  }

}

.DrawDuoDisplayVoting__drawingContainer
{
  position: relative;
  margin:   0 40px;

  .DrawDuoArtwork__drawings
  {
    transition: transform 300ms ease;

    @include isCompleted
    {
      transform: translateY(-50px);
    }

  }

  .DrawDuoArtwork__drawing
  {
    @include isNotGuessing
    {
      border-width: 3px;

      &:first-of-type
      {
        transform: scale(0.8) translateX(60px);

        @media (max-width: 1440px)
        {
          transform: scale(0.8) translateX(50px);
        }

      }

      &:last-of-type
      {
        transform: scale(0.8) translateX(-60px);

        @media (max-width: 1440px)
        {
          transform: scale(0.8) translateX(-50px);
        }

      }

    }
  }

}

.DrawDuoDisplayVoting__drawing__label
{
  @include largeDrawDuoHeading;
  position:   absolute;
  left:       0;
  right:      0;
  top:        100%;
  text-align: center;
  margin-top: 40px;
  transition: transform 300ms ease;

  @include isCompleted
  {
    transform: translateY(-90px);
  }

}

.DrawDuoDisplayVoting__drawing__label__text
{
  position: absolute;
  left:     0;
  right:    0;

  @include slideEnter
  {
    opacity:   0.01;
    transform: translateX(100px);
  }

  @include slideEnterActive
  {
    opacity:    1;
    transform:  translateX(0);
    transition: opacity 250ms ease-in, transform 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  @include slideExit
  {
    transform: translateX(0);
    opacity:   1;
  }

  @include slideExitActive
  {
    transform:  translateX(-100px);
    opacity:    0.01;
    transition: opacity 250ms ease-in, transform 500ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }

  &.DrawDuoDisplayVoting__drawing__label__text--prompt
  {
    @include mediumDrawDuoText;
  }

}