@import "../../styles/settings/sizes";
@import "../../styles/tools/buttons";
@import "../../styles/tools/images";
@import "../../styles/tools/inputs";
@import "../../styles/tools/layout";
@import "../../styles/tools/text";

.PlayerGroup
{
  display: flex;

  .Player
  {
    margin: 0 10px;

    &:first-child
    {
      margin-left: 0;
    }

    &:last-child
    {
      margin-right: 0;
    }

  }

}