@import "../../styles/settings/sizes";
@import "../../styles/tools/buttons";
@import "../../styles/tools/images";
@import "../../styles/tools/inputs";
@import "../../styles/tools/layout";
@import "../../styles/tools/text";

@mixin horizontalLayout
{

  &.PlayerGroup--layout-horizontal
  {
    @content;
  }

}

@mixin verticalLayout
{

  &.PlayerGroup--layout-vertical
  {
    @content;
  }

}

.PlayerGroup
{

  @include horizontalLayout
  {
    display: flex;

    .PlayerGroup__player
    {
      margin: 0 10px;

      &:first-child
      {
        margin-left: 0;
      }

      &:last-child
      {
        margin-right: 0;
      }

    }

  }

  @include verticalLayout
  {

    .PlayerGroup__player
    {
      margin: 10px 0;

      &:first-child
      {
        margin-top: 0;
      }

      &:last-child
      {
        margin-bottom: 0;
      }

    }

  }

}

.PlayerGroup__player
{

  &.PlayerGroup__player--asideIncluded
  {
    display: flex;
  }

}