@import "../../../../styles/settings/sizes";
@import "../../../../styles/tools/buttons";
@import "../../../../styles/tools/inputs";
@import "../../../../styles/tools/layout";
@import "../../../../styles/tools/text";

.DrawDuoDrawing
{
  height:          100%;
  display:         flex;
  flex-direction:  column;
  justify-content: center;
  padding:         0 20px;
}

.DrawDuoDrawing__prompt
{
  @include mediumHeading;
  text-align: center;
}

.DrawDuoDrawing__drawing
{
  height:           calc(100vw - 40px);
  background-color: #FFFFFF;
  border:           1px solid #F0F0F0;
  margin:           20px 0;
}

.DrawDuoDrawing__options
{
  text-align: center;
}

.DrawDuoDrawing__options__button
{
}
