@import "../../../../styles/settings/sizes";
@import "../../../../styles/tools/animations";
@import "../../../../styles/tools/buttons";
@import "../../../../styles/tools/inputs";
@import "../../../../styles/tools/layout";
@import "../../../../styles/tools/text";

.DrawDuoPairsResults
{
  width: 100%;
}

.DrawDuoPairsResults__row
{
  display:     flex;
  align-items: center;
  margin-top:  110px;
  width:       100%;

  &:first-of-type
  {
    margin-top: 0;
  }

  .PlayerGroup
  {
    flex: 1;
    //overflow: hidden;
  }

}

.DrawDuoPairsResults__playerAside
{
  @include flexCenter;
  flex:            1;
  margin-left:     -20px;
  padding-right:   40px;
  justify-content: flex-start;
  overflow:        hidden;
}

.DrawDuoPairsResults__playerAside__text
{
  @include smallReadableText;
  overflow-wrap:    break-word;
  //word-break:       break-all;
  background-color: #ffffff;
  padding:          20px;
  border:           2px solid $color-text;

  span
  {
  }

}