@import "../../../../styles/settings/sizes";
@import "../../../../styles/tools/animations";
@import "../../../../styles/tools/buttons";
@import "../../../../styles/tools/inputs";
@import "../../../../styles/tools/layout";
@import "../../../../styles/tools/text";

@mixin showEntryAction
{

  &.DrawDuoUser--showEntryAction,
  .DrawDuoUser--showEntryAction &
  {
    @content;
  }

}

@mixin pairMargin
{

  &.DrawDuoUser--pairMargin,
  .DrawDuoUser--pairMargin &
  {
    @content;
  }

}

@mixin pointsDisplay
{

  &.DrawDuoUser--pointsDisplay,
  .DrawDuoUser--pointsDisplay &
  {
    @content;
  }

}

@mixin tinyUser
{

  &.DrawDuoUser--size-tiny,
  .DrawDuoUser--size-tiny &
  {
    @content;
  }

}

@mixin smallUser
{

  &.DrawDuoUser--size-small,
  .DrawDuoUser--size-small &
  {
    @content;
  }

}

@mixin mediumUser
{

  &.DrawDuoUser--size-medium,
  .DrawDuoUser--size-medium &
  {
    @content;
  }

}

@mixin horizontalAlignmentUser
{

  &.DrawDuoUser--alignment-horizontal,
  .DrawDuoUser--alignment-horizontal &
  {
    @content;
  }

}

@mixin horizontalAlignmentTinyUser
{

  &.DrawDuoUser--alignment-horizontal.DrawDuoUser--size-tiny,
  .DrawDuoUser--alignment-horizontal.DrawDuoUser--size-tiny &
  {
    @content;
  }

}

@mixin verticalAlignmentUser
{

  &.DrawDuoUser--alignment-vertical,
  .DrawDuoUser--alignment-vertical &
  {
    @content;
  }

}

@mixin submittedUser
{

  &.DrawDuoUser--submitted,
  .DrawDuoUser--submitted &
  {
    @content;
  }

}

@mixin notSubmittedUser
{

  &.DrawDuoUser--notSubmitted,
  .DrawDuoUser--notSubmitted &
  {
    @content;
  }

}

.DrawDuoUser
{
  position:   relative;
  transition: transform 300ms ease;

  @include notSubmittedUser
  {
    transform: translateY(20px);
  }

  @include pairMargin
  {

    &:first-child
    {
      margin-right: 15px;
    }

    &:last-child
    {
      margin-left: 15px;
    }

  }

  @include horizontalAlignmentUser
  {
    display:     flex;
    align-items: center;
  }

}

.DrawDuoUser__image
{
  width:            150px;
  height:           150px;
  border-radius:    50%;
  background-color: #FFFFFF;
  display:          flex;
  align-items:      center;
  justify-content:  center;
  position:         relative;
  box-shadow:       0 1px 5px rgba(0, 0, 0, 0.15);
  transition:       opacity 300ms ease;

  @include notSubmittedUser
  {
    //opacity: 0.75;
  }

  @include mediumUser
  {
    width:  125px;
    height: 125px;
  }

  @include smallUser
  {
    width:  100px;
    height: 100px;
  }

  @include tinyUser
  {
    width:  65px;
    height: 65px;
  }

}

.DrawDuoUser__points,
.DrawDuoUser__submitted
{
  @include drawDuoPlainHeadingFont;
  position:         absolute;
  left:             -10px;
  right:            -10px;
  text-align:       center;
  background-color: #FFFFFF;
  padding:          8px;
  text-transform:   uppercase;
  border-radius:    3px;
  transform:        rotate(-35deg) scale(0.95);
  opacity:          0;
  transition:       transform 300ms ease, opacity 300ms ease;
  box-shadow:       0 1px 5px rgba(0, 0, 0, 0.15);
  font-size:        18px;

}

.DrawDuoUser__submitted
{

  @include submittedUser
  {
    opacity:   1;
    transform: rotate(-45deg);
  }

}

.DrawDuoUser__points
{
  font-size:   28px;
  line-height: 24px;

  @at-root
  {

    @keyframes twirlIn
    {
      from
      {
        transform: rotate(-15deg) scale(0.95);
        opacity:   0;
      }
      to
      {
        opacity:   1;
        transform: rotate(-45deg) scale(1);
      }
    }

  }

  @include pointsDisplay
  {
    animation: twirlIn 500ms 500ms ease forwards;
  }

}

.DrawDuoUser__label
{
  @include drawDuoFont;
  font-size: 36px;

  @include showEntryAction
  {
    //display:         flex;
    //flex-direction:  column;
    //justify-content: center;
    height:    100%;
    flex:      1;
    min-width: 0;
  }

  @include verticalAlignmentUser
  {
    position:   absolute;
    top:        100%;
    width:      220px;
    left:       -35px;
    right:      -35px;
    margin-top: 30px;
    text-align: center;
  }

  @include horizontalAlignmentUser
  {
    margin-left: 15px;
  }

  @include horizontalAlignmentTinyUser
  {
    margin-left: 10px;
  }

  span
  {
    background-color: #FFFFFF;
    border-radius:    10px;
    padding:          6px 18px;
    box-shadow:       0 1px 5px rgba(0, 0, 0, 0.15);

    @include showEntryAction
    {
      display: inline-block;
      padding: 16px 18px;
    }

  }

}

.DrawDuoUser__label__text
{

}

.DrawDuoUser__label__action
{
  @include smallReadableText;
  @include truncate(auto);
  margin-top:  20px;
  max-width:   280px;
  line-height: 30px;
}
