@import "../../../../styles/settings/sizes";
@import "../../../../styles/tools/animations";
@import "../../../../styles/tools/buttons";
@import "../../../../styles/tools/inputs";
@import "../../../../styles/tools/layout";
@import "../../../../styles/tools/text";

@mixin submittedUser
{

  &.DrawDuoUser--submitted,
  .DrawDuoUser--submitted &
  {
    @content;
  }

}

@mixin notSubmittedUser
{

  &.DrawDuoUser--notSubmitted,
  .DrawDuoUser--notSubmitted &
  {
    @content;
  }

}

.DrawDuoUser
{
  position:   relative;
  transition: transform 300ms ease;

  @include notSubmittedUser
  {
    transform: translateY(20px);
  }

  &:first-child
  {
    margin-right: 15px;
  }

  &:last-child
  {
    margin-left: 15px;
  }

}

.DrawDuoUser__image
{
  width:            150px;
  height:           150px;
  border-radius:    50%;
  background-color: #FFFFFF;
  display:          flex;
  align-items:      center;
  justify-content:  center;
  position:         relative;
  box-shadow:       0 1px 5px rgba(0, 0, 0, 0.15);
  transition:       opacity 300ms ease;

  @include notSubmittedUser
  {
    //opacity: 0.75;
  }

}

.DrawDuoUser__submitted
{
  @include drawDuoPlainHeadingFont;
  position:         absolute;
  left:             -10px;
  right:            -10px;
  text-align:       center;
  background-color: #FFFFFF;
  padding:          8px;
  text-transform:   uppercase;
  border-radius:    3px;
  transform:        rotate(-35deg) scale(0.95);
  opacity:          0;
  transition:       transform 300ms ease, opacity 300ms ease;
  box-shadow:       0 1px 5px rgba(0, 0, 0, 0.15);
  font-size:        18px;

  @include submittedUser
  {
    opacity:   1;
    transform: rotate(-45deg);
  }

}

.DrawDuoUser__label
{
  @include drawDuoFont;
  position:   absolute;
  top:        100%;
  width:      220px;
  left:       -35px;
  right:      -35px;
  text-align: center;
  margin-top: 30px;
  font-size:  36px;

  span
  {
    background-color: #FFFFFF;
    border-radius:    10px;
    padding:          6px 18px;
    box-shadow:       0 1px 5px rgba(0, 0, 0, 0.15);
  }

}

