@import "../../../../styles/settings/sizes";
@import "../../../../styles/tools/buttons";
@import "../../../../styles/tools/inputs";
@import "../../../../styles/tools/layout";
@import "../../../../styles/tools/text";

@mixin mediumSize
{

  &.DrawDuoArtworkPiece--size-medium,
  .DrawDuoArtworkPiece--size-medium &
  {
    @content;
  }

}

.DrawDuoArtworkPiece
{
  position: relative;
}

.DrawDuoArtworkPiece__drawing
{
  width:            33vw;
  height:           33vw;
  background-color: #FFFFFF;
  box-shadow:       0 3px 25px rgba(0, 0, 0, 0.15);

  @include mediumSize
  {
    width:  20vw;
    height: 20vw;
  }

}

.DrawDuoArtworkPiece__attribution
{
  position:        absolute;
  left:            0;
  right:           0;
  display:         flex;
  justify-content: center;
  margin-top:      50px;
}