@import "../../../../styles/settings/sizes";
@import "../../../../styles/tools/buttons";
@import "../../../../styles/tools/drawing";
@import "../../../../styles/tools/inputs";
@import "../../../../styles/tools/layout";
@import "../../../../styles/tools/text";

.DrawDuoControllerDrawing
{
  position:     fixed;
  top:          0;
  left:         0;
  right:        0;
  bottom:       0;
  touch-action: none;
}

.DrawDuoControllerDrawing__content
{
  @include mobilePadding;
}

.DrawDuoControllerDrawing__header
{
  text-align: center;
}

.DrawDuoControllerDrawing__title
{
  @include mediumDrawDuoHeading;
  margin:     40px 20px;
  text-align: center;
}

.DrawDuoControllerDrawing__prompt
{
  @include mediumThickHeading;
  text-align: center;
}

.DrawDuoControllerDrawing__drawingContainer
{
  margin:           20px 0;
  background-color: #FFFFFF;
  border:           2px solid $color-text;
  height:           calc(100vw - 40px);
  position:         relative;
  touch-action:     none;

  canvas
  {
    @include canvasReset;
  }

}

.DrawDuoControllerDrawing__buttonWrapper
{
  text-align: center;
}
