@import "../../../../styles/settings/sizes";
@import "../../../../styles/tools/buttons";
@import "../../../../styles/tools/inputs";
@import "../../../../styles/tools/layout";
@import "../../../../styles/tools/text";

.DrawDuoControllerVoting
{
  position:   fixed;
  top:        0;
  left:       0;
  right:      0;
  bottom:     0;
  overflow-y: auto;
}

.DrawDuoControllerVoting__content
{
  @include mobilePadding;
}

.DrawDuoControllerVoting__header
{
  text-align: center;
}

.DrawDuoControllerVoting__answers
{
  margin: 20px 0;
}