@import "../../../../styles/settings/sizes";
@import "../../../../styles/tools/animations";
@import "../../../../styles/tools/buttons";
@import "../../../../styles/tools/inputs";
@import "../../../../styles/tools/layout";
@import "../../../../styles/tools/text";
@import "../../../../styles/tools/transitions";

.DrawDuoAnswers
{
  display:     flex;
  align-items: center;
  width:       100%;
  height:      100%;
}

.DrawDuoAnswers__column
{
  flex:            1;
  height:          100%;
  display:         flex;
  flex-direction:  column;
  justify-content: space-around;
  margin:          0 25px;

  &:first-of-type
  {
    margin-left: 0;
  }

  &:last-of-type
  {
    margin-right: 0;
  }

}

.DrawDuoAnswers__answer
{

  .DrawDuoAnswers__column--left &
  {
    @include slideInRightAnimationDefaults;
    @include slideInRightAnimation($animation: slideInRightReduced);
  }

  .DrawDuoAnswers__column--right &
  {
    @include slideInLeftAnimationDefaults;
    @include slideInLeftAnimation($animation: slideInLeftReduced);
  }

  @for $i from 1 to 10
  {

    &:nth-child(#{$i})
    {
      animation-delay: ($i * 150ms);
    }

  }

}