@import "../../styles/settings/sizes";
@import "../../styles/tools/buttons";
@import "../../styles/tools/inputs";
@import "../../styles/tools/layout";

.PlayerCard
{
  width:         50%;
  margin-bottom: 40px;

  //&:nth-child(1),
  //&:nth-child(2)
  //{
  //  margin-top: 0;
  //}

  &:nth-child(even)
  {
    padding-left: 10px;
  }

  &:nth-child(odd)
  {
    padding-right: 10px;
  }

}

.PlayerCard__image
{
  height:           calc(50vw - 30px);
  background-color: #FFFFFF;
  border:           2px solid #F0F0F0;
  border-radius:    50%;
}

.PlayerCard__name
{
  font-weight: 500;
  font-size:   14px;
  margin-top:  10px;
  text-align:  center;
}