@import "../../styles/settings/sizes";
@import "../../styles/tools/buttons";
@import "../../styles/tools/inputs";
@import "../../styles/tools/layout";

.MainLayout
{
  height:         100vh;
  overflow:       hidden;
  display:        flex;
  flex-direction: column;
}