@import "../../../../styles/settings/sizes";
@import "../../../../styles/tools/animations";
@import "../../../../styles/tools/buttons";
@import "../../../../styles/tools/inputs";
@import "../../../../styles/tools/layout";
@import "../../../../styles/tools/text";

@mixin isBeingRevealed
{

  &.DrawDuoRevealAnswer--isBeingRevealed,
  .DrawDuoRevealAnswer--isBeingRevealed &
  {
    @content;
  }

}

@mixin shortAnswer
{

  &.DrawDuoRevealAnswer--length-short,
  .DrawDuoRevealAnswer--length-short &
  {
    @content;
  }

}

@mixin mediumAnswer
{

  &.DrawDuoRevealAnswer--length-medium,
  .DrawDuoRevealAnswer--length-medium &
  {
    @content;
  }

}

@mixin longAnswer
{

  &.DrawDuoRevealAnswer--length-long,
  .DrawDuoRevealAnswer--length-long &
  {
    @content;
  }

}

.DrawDuoRevealAnswer
{
  @include largeReadableText;
  text-align:      center;
  width:           100%;
  position:        absolute;
  left:            0;
  right:           0;
  top:             0;
  bottom:          0;
  display:         flex;
  justify-content: center;
  align-items:     center;

  opacity:         0;
  transform:       translateY(100%);
  transition:      opacity 500ms ease, transform 1000ms ease;

  @include isBeingRevealed
  {
    opacity:   1;
    transform: translateY(0);
  }

  @include shortAnswer
  {
    @include hugeReadableText;
  }

  @include mediumAnswer
  {
    @include mediumReadableText;
  }

  @include longAnswer
  {
    @include smallReadableText;
  }

}

.DrawDuoRevealAnswer__content
{
  position:    relative;
  height:      100%;
  display:     flex;
  align-items: center;
  //width:    100%;
}

.DrawDuoRevealAnswer__answer
{
  max-width: 500px;
}

.DrawDuoRevealAnswer__voters
{
  position:        absolute;
  top:             0;
  bottom:          0;
  right:           100%;
  display:         flex;
  justify-content: center;
  margin-right:    40px;

  .DrawDuoRevealAnswer__voters__player
  {
    @include slideInUpAnimationDefaults;
    position: relative;
    top:      -50px;

    @include isBeingRevealed
    {
      @include slideInUpAnimation($animationSpeed: 500ms);
    }

    @for $i from 1 to 20
    {

      &.DrawDuoRevealAnswer__voters__player--offset-#{$i}
      {
        animation-delay: (($i - 1) * 500ms) + 1000ms;
      }

    }

  }

}

.DrawDuoRevealAnswer__owner
{
  @include slideInUpAnimationDefaults;
  position:    absolute;
  top:         0;
  bottom:      0;
  left:        100%;
  margin-left: 40px;
  display:     flex;
  //justify-content: center;
  align-items: center;
  min-width:   550px;

  @include isBeingRevealed
  {
    @include slideInUpAnimation($animationSpeed: 500ms, $animationDelay: 3000ms);
  }

  .Player
  {
    position: relative;
    top:      -30px;
  }

}

.DrawDuoRevealAnswer__owner__text
{
  @include friendlyFont;
}

.DrawDuoRevealAnswer__answer
{
}