.DrawDuoDisplayBody
{
  position:        absolute;
  top:             15vh;
  left:            0;
  right:           0;
  bottom:          15vh;
  display:         flex;
  align-items:     center;
  justify-content: center;
}