@import "../../styles/settings/sizes";
@import "../../styles/tools/buttons";
@import "../../styles/tools/inputs";
@import "../../styles/tools/layout";

.BottomFlex
{
  height:   100%;
  display:  flex;
  overflow: hidden;
}