@import "../../styles/settings/sizes";
@import "../../styles/tools/buttons";
@import "../../styles/tools/inputs";
@import "../../styles/tools/layout";
@import "../../styles/tools/text";

.CountdownTimer
{
  background-color: #FFFFFF;
  text-align:       center;
  width:            200px;
  height:           150px;
  display:          flex;
  align-items:      center;
  justify-content:  center;
  border-radius:    50px;
  box-shadow:       0 1px 5px rgba(0, 0, 0, 0.15);
}

.CountdownTimer__text
{
  @include drawDuoPlainHeadingFont;
  font-size:   120px;
  line-height: 140px;
  position:    relative;
  top:         -17px;
}