@import "../../styles/settings/sizes";
@import "../../styles/tools/buttons";
@import "../../styles/tools/inputs";
@import "../../styles/tools/layout";

.SessionJoin
{
  @include sideMargin;
  @include topMargin($header-height);
  height:         100vh;
  display:        flex;
  flex-direction: column;
}

.SessionJoin__drawingContainer
{
  flex:            1;
  margin:          20px 0;
  display:         flex;
  align-items:     center;
  justify-content: center;
}

.SessionJoin__drawing
{
  background-color: #FFFFFF;
  border:           3px solid #D0D0D0;
  height:           calc(100vw - 40px);
  width:            calc(100vw - 40px);
  position:         relative;
}

.SessionJoin__drawing__message
{
  position:        absolute;
  top:             0;
  left:            0;
  right:           0;
  bottom:          0;
  display:         flex;
  align-items:     center;
  justify-content: center;

  font-style:      italic;
  font-size:       24px;
  opacity:         0.25;
  pointer-events:  none;
}

.SessionJoin__bottomControls
{
  margin-bottom: 20px;
}