@import "../../styles/settings/sizes";
@import "../../styles/tools/buttons";
@import "../../styles/tools/inputs";
@import "../../styles/tools/layout";

.SessionJoin
{
  @include sideMargin;
  @include topMargin($header-height);
  height:         100vh;
  display:        flex;
  flex-direction: column;
}

.SessionJoin__drawing
{
  flex:            1;
  margin:          20px 0;
  border:          3px solid #E0E0E0;
  display:         flex;
  align-items:     center;
  justify-content: center;
}

.SessionJoin__bottomControls
{
  margin-bottom: 20px;
}