@import "../../styles/settings/sizes";
@import "../../styles/tools/buttons";
@import "../../styles/tools/inputs";
@import "../../styles/tools/layout";
@import "../../styles/tools/text";

.SessionJoin
{
  @include sideMargin;
  height:          100%;
  display:         flex;
  flex-direction:  column;
  justify-content: center;
}

.SessionJoin__title
{
  @include mediumHeading;
  margin-top: -20px;
  text-align: center;
}

.SessionJoin__drawingContainer
{
  margin:          20px 0 25px 0;
  display:         flex;
  align-items:     center;
  justify-content: center;
}

.SessionJoin__drawing
{
  //background-color: #FFFFFF;
  border:     1px solid #000000;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  height:     calc(100vw - 40px);
  width:      calc(100vw - 40px);
  position:   relative;
}

.SessionJoin__drawing__message
{
  position:        absolute;
  top:             0;
  left:            0;
  right:           0;
  bottom:          0;
  display:         flex;
  align-items:     center;
  justify-content: center;

  opacity:         0.25;
  pointer-events:  none;

  @include mediumHeading;

}

.SessionJoin__nameInput
{
  position: relative;
}

.SessionJoin__nameInput__label
{
  @include mediumHeading;
  position:   absolute;
  top:        10px;
  left:       0;
  transition: transform 300ms ease, opacity 300ms ease;

  .SessionJoin__nameInput--active &
  {
    transform: translate(-5px, -21px) scale(0.9);
    opacity:   0.5;
  }

}

.SessionJoin__nameInput__input
{
  position: relative;
}
