@import "../../../../styles/settings/sizes";
@import "../../../../styles/tools/animations";
@import "../../../../styles/tools/buttons";
@import "../../../../styles/tools/inputs";
@import "../../../../styles/tools/layout";
@import "../../../../styles/tools/text";
@import "../../../../styles/tools/textures";

.DrawDuoDisplayGameCompleted
{
  position:       fixed;
  top:            0;
  left:           0;
  right:          0;
  bottom:         0;
  display:        flex;
  flex-direction: column;
  //align-items:     center;
  //justify-content: center;
}

.DrawDuoDisplayGameCompleted__header
{
  text-align: center;
  position:   relative;
  width:      100%;
}

.DrawDuoDisplayGameCompleted__header__title
{
  margin-bottom: 10px;
}

.DrawDuoDisplayGameCompleted__header__subtitle
{
  position: absolute;
  left:     0;
  right:    0;
}

.DrawDuoDisplayGameCompleted__winners
{
  position:        absolute;
  left:            0;
  right:           0;
  display:         flex;
  justify-content: center;
  top:             100%;
  margin-top:      -50px
}

.DrawDuoDisplayGameCompleted__title
{
  @include hugeDrawDuoHeading;
}

.DrawDuoDisplayGameCompleted__content
{
  flex:        1;
  display:     flex;
  align-items: center;
}

.DrawDuoDisplayGameCompleted__countdown
{
}

.DrawDuoDisplayGameCompleted__pairs
{
  margin-top: -50px;
  width:      100%;
}

.DrawDuoDisplayGameCompleted__pairs__row
{
  @include slideInUpAnimationDefaults;
  @include slideInUpAnimation($animationSpeed: 1500ms);
  display:         flex;
  justify-content: center;
  width:           100%;
  margin-top:      50px;

  @for $i from 1 to 5
  {

    &.DrawDuoDisplayGameCompleted__pairs__row--display-#{$i}
    {
      animation-delay: (($i - 1) * 500ms) + 500ms;
    }

  }

  &:first-of-type
  {
    margin-top: 0;
  }

  .PlayerGroup
  {
    margin: 0 50px;
  }

}