@import "../../../../styles/settings/sizes";
@import "../../../../styles/tools/animations";
@import "../../../../styles/tools/buttons";
@import "../../../../styles/tools/inputs";
@import "../../../../styles/tools/layout";
@import "../../../../styles/tools/text";

.DrawDuoPairs
{

}

.DrawDuoPairs__row
{
  display:         flex;
  justify-content: space-between;
  align-items:     center;
  width:           100vw;

  &::before,
  &::after
  {
    content:  '';
    display:  block;
    width:    0;
    height:   0;
    overflow: hidden;
  }

}