@import "../../styles/settings/sizes";
@import "../../styles/tools/buttons";
@import "../../styles/tools/inputs";
@import "../../styles/tools/layout";

.MainButton
{

  > button
  {
    @include mainButton;
  }

  &.MainButton--fullWidth
  {

    > button
    {
      width:   100%;
      display: block;
    }

  }

  &.MainButton--setHeight
  {

    > button
    {
      height:         60px;
      padding-top:    0;
      padding-bottom: 0;
    }

  }

  .MainButton__title
  {
    position: relative;
    top:      4px;
  }

  .MainButton__subtitle
  {
    font-size: 12px;
    position:  relative;
    top:       2px;
  }

}
