@import "styles/settings/colors";

body
{
  color:       $color-text;
  font-family: 'Itim', Helvetica, Arial, sans-serif;
  font-size:   16px;
  line-height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
textarea,
a
{
  font: inherit;
}