@import "../../../../styles/settings/sizes";
@import "../../../../styles/tools/buttons";
@import "../../../../styles/tools/inputs";
@import "../../../../styles/tools/layout";
@import "../../../../styles/tools/text";

.DrawDuoControllerPending
{
  position:        fixed;
  top:             0;
  left:            0;
  right:           0;
  bottom:          0;
  display:         flex;
  align-items:     center;
  justify-content: center;
}