@import "../../../../styles/settings/sizes";
@import "../../../../styles/tools/buttons";
@import "../../../../styles/tools/inputs";
@import "../../../../styles/tools/layout";
@import "../../../../styles/tools/text";

.DrawDuoArtworks
{
  display:         flex;
  //justify-content: space-between;
  justify-content: space-around;
  width:           100%;

  //&::before,
  //&::after
  //{
  //  content:  '';
  //  display:  block;
  //  width:    0;
  //  height:   0;
  //  overflow: hidden;
  //}

}

.DrawDuoArtworks__drawing
{
  width:            40vw;
  height:           40vw;
  background-color: #FFFFFF;
  box-shadow:       0 3px 25px rgba(0, 0, 0, 0.15);
}