@import "../../styles/settings/colors";
@import "../../styles/settings/sizes";
@import "../../styles/tools/buttons";
@import "../../styles/tools/images";
@import "../../styles/tools/inputs";
@import "../../styles/tools/layout";
@import "../../styles/tools/text";

@mixin largePointsSize
{

  .Player--pointsSize-large &
  {
    @content;
  }

}

@mixin tinySize
{

  .Fruit--size-tiny &
  {
    @content;
  }

}

@mixin miniSize
{

  .Fruit--size-mini &
  {
    @content;
  }

}

@mixin smallSize
{

  .Fruit--size-small &
  {
    @content;
  }

}

@mixin showAction
{

  &.FruitBanana--showAction,
  .FruitBanana--showAction &
  {
    @content;
  }

}

@mixin showName
{

  &.FruitBanana--showName,
  .FruitBanana--showName &
  {
    @content;
  }

}

@mixin showPoints
{

  &.FruitBanana--showPoints,
  .FruitBanana--showPoints &
  {
    @content;
  }

}

.FruitBanana
{
  @include mediumFont;
  position: relative;
  color:    $color-text;

  text,
  textPath
  {
    fill: $color-text;
  }

  @include miniSize
  {
    padding-top: 10px;
  }

}

.FruitBanana__name
{
  font-size: 280px;
  opacity:   0;

  @include showName
  {
    opacity: 1;
  }

}

.FruitBanana__points
{
  font-size: 200px;
  opacity:   0;

  @include showPoints
  {
    opacity: 1;
  }

}

.FruitBanana__action
{
  font-size:   160px;
  font-weight: 700;
  opacity:     0;

  @include showAction
  {
    opacity: 1;
  }

  @include largePointsSize
  {
    font-size: 230px;
  }

}

.FruitBanana__drawingWrapper
{
  position: absolute;
  top:      30px;
  left:     90px;
  right:    30px;
  bottom:   210px;

  @include smallSize
  {
    top:    30px;
    left:   60px;
    right:  20px;
    bottom: 150px;
  }

  @include tinySize
  {
    top:    10px;
    left:   40px;
    right:  15px;
    bottom: 100px;
  }

}

.FruitBanana__drawing
{
  max-width:  100%;
  max-height: 100%;
}