@import "../../styles/settings/sizes";
@import "../../styles/tools/buttons";
@import "../../styles/tools/inputs";
@import "../../styles/tools/layout";

.SessionGroup
{
}

.SessionGroup__gameSelector
{
  margin-bottom: 20px;
}

.SessionGroup__playersList
{
  @include sideMargin;
  display:       flex;
  flex-wrap:     wrap;
  margin-bottom: 40px;
}