@import "../../styles/settings/sizes";
@import "../../styles/tools/buttons";
@import "../../styles/tools/inputs";
@import "../../styles/tools/layout";

.SessionGroup
{
  @include sideMargin;
  @include topMargin($header-height);
  min-height: 100vh;
}

.SessionGroup__playersList
{
  display:       flex;
  flex-wrap:     wrap;
  margin-bottom: 100px;
}

.SessionGroup__controls
{
  margin-bottom: 20px;
  position:      fixed;
  left:          20px;
  right:         20px;
  bottom:        0;
}