@import "../../../../styles/settings/sizes";
@import "../../../../styles/tools/buttons";
@import "../../../../styles/tools/inputs";
@import "../../../../styles/tools/layout";
@import "../../../../styles/tools/text";
@import "../../../../styles/tools/textures";

.DrawDuoDisplayRound
{
  position:        fixed;
  top:             0;
  left:            0;
  right:           0;
  bottom:          0;
  display:         flex;
  align-items:     center;
  justify-content: center;
  flex-direction:  column;
}

.DrawDuoDisplayRound__header
{
  display:     flex;
  align-items: center;
  flex:        1;
  text-align:  center;

}

.DrawDuoDisplayRound__header__content
{
  position: relative;

  .DrawDuoAnimatedMessage
  {
    position:   absolute;
    margin-top: 10px;
    left:       0;
    right:      0;
    text-align: center;
  }

}

.DrawDuoDisplayRound__footer
{
  display:     flex;
  align-items: center;
  flex:        1;
}

.DrawDuoDisplayRound__content
{
  position: relative;
  width:    100%;
}