@keyframes slideInLeft
{

  from
  {
    opacity:   0;
    transform: translateX(100%);
  }

  to
  {
    opacity:   1;
    transform: translateX(0);
  }

}

@keyframes slideInLeftReduced
{

  from
  {
    opacity:   0;
    transform: translateX(100px);
  }

  to
  {
    opacity:   1;
    transform: translateX(0);
  }

}

@mixin slideInLeftAnimationDefaults
{
  opacity:   0;
  transform: translateX(100%);
}

@mixin slideInLeftAnimation($animation: slideInLeft, $animationSpeed: 1000ms, $animationDelay: 0ms)
{
  animation: #{$animation} #{$animationSpeed} #{$animationDelay} cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes slideOutLeft
{

  from
  {
    opacity:   1;
    transform: translateX(0);
  }

  to
  {
    opacity:   0;
    transform: translateX(-100%);
  }

}

@mixin slideOutLeftAnimationDefaults
{
  opacity:   1;
  transform: translateX(0);
}

@mixin slideOutLeftAnimation
{
  animation: slideOutLeft 1000ms cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes slideInRight
{

  from
  {
    opacity:   0;
    transform: translateX(-100%);
  }

  to
  {
    opacity:   1;
    transform: translateX(0);
  }

}

@keyframes slideInRightReduced
{

  from
  {
    opacity:   0;
    transform: translateX(-100px);
  }

  to
  {
    opacity:   1;
    transform: translateX(0);
  }

}

@mixin slideInRightAnimationDefaults
{
  opacity:   0;
  transform: translateX(-100%);
}

@mixin slideInRightAnimation($animation: slideInRight)
{
  animation: #{$animation} 1000ms cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes slideOutRight
{

  from
  {
    opacity:   1;
    transform: translateX(0);
  }

  to
  {
    opacity:   0;
    transform: translateX(100%);
  }

}

@mixin slideOutRightAnimationDefaults
{
  opacity:   1;
  transform: translateX(0);
}

@mixin slideOutRightAnimation
{
  animation: slideOutRight 1000ms cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes slideInUp
{

  from
  {
    opacity:   0;
    transform: translateY(100%);
  }

  to
  {
    opacity:   1;
    transform: translateY(0);
  }

}

@mixin slideInUpAnimationDefaults
{
  opacity:   0;
  transform: translateY(100%);
}

@mixin slideInUpAnimation($animationSpeed: 1000ms, $animationDelay: 0ms)
{
  animation: slideInUp #{$animationSpeed} #{$animationDelay} cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes slideInDown
{

  from
  {
    opacity:   0;
    transform: translateY(-100%);
  }

  to
  {
    opacity:   1;
    transform: translateY(0);
  }

}

@mixin slideInDownAnimationDefaults
{
  opacity:   0;
  transform: translateY(-100%);
}

@mixin slideInDownAnimation($animationSpeed: 1000ms, $animationDelay: 0ms)
{
  animation: slideInDown #{$animationSpeed} #{$animationDelay} cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes driftUpAndDown
{
  0%
  {
    transform: translateY(-10px);
  }
  50%,
  100%
  {
    transform: translateY(0px);
  }
}

@keyframes driftUpAndDownSmaller
{
  0%
  {
    transform: translateY(-3px);
  }
  50%,
  100%
  {
    transform: translateY(0px);
  }
}