@import "./text";
@import "./buttons";

@mixin plainInput
{
  color:         #000000;
  border-bottom: 1px solid #000000;
  padding:       10px 0;
  display:       block;
  width:         100%;

  @include mediumHeading;

  @include placeholder
  {
    color: #000000;
  }

  &:focus
  {
    color: #000000;
  }

}