@import "../settings/colors";
@import "./text";
@import "./buttons";

@mixin plainInput
{
  @include text-stroke($size: 4);
  color:   $color-text;
  padding: 10px 0;
  display: block;
  width:   100%;

  @include mediumThickHeading;

  @include placeholder
  {
    color: $color-text;
  }

  &:focus
  {
    color: $color-text;
  }

}