@import "./text";
@import "./buttons";

@mixin plainInput
{
  @include mediumSizeFont;
  color:          #505050;
  padding:        20px 20px 17px 20px;
  border-bottom:  3px solid #D0D0D0;
  display:        block;
  width:          100%;
  letter-spacing: 0.5px;

  &:focus
  {
    color: #000000;
  }

}