@mixin sideMargin
{
  padding-left:  20px;
  padding-right: 20px;
}

@mixin topMargin($extraPadding: 0)
{
  padding-top: (20px + $extraPadding);
}

@mixin verticalMargin($extraPadding: 0)
{
  padding-top: (20px + $extraPadding);
  padding-bottom: (20px + $extraPadding);
}