@import "../settings/colors";

@mixin textShadow
{
  text-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
}

@mixin placeholder
{
  &::-webkit-input-placeholder
  {
    @content
  }
  &:-moz-placeholder
  {
    @content
  }
  &::-moz-placeholder
  {
    @content
  }
  &:-ms-input-placeholder
  {
    @content
  }
}

@mixin increasedLetterSpacing
{
  letter-spacing: 0.25px;
}

@mixin smallSizeFont
{
  font-size:   13px;
  line-height: 15px;
}

@mixin mediumSizeFont
{
  font-size:   18px;
  line-height: 22px;
  font-weight: 700;
}

@mixin smallFaintText
{
  @include smallSizeFont;
  color: $color-medium;
}