@import "../../styles/settings/sizes";
@import "../../styles/tools/buttons";
@import "../../styles/tools/inputs";
@import "../../styles/tools/layout";

.SimpleButton
{
  height:          100%;
  display:         flex;
  align-items:     center;
  justify-content: center;
  text-transform:  uppercase;
  font-weight:     700;
  font-size:       14px;
  position:        relative;
  overflow:        hidden;
  letter-spacing:  0.25px;
  transition:      opacity 300ms ease, transform 300ms ease;

  &.SimpleButton--disabled
  {
    opacity:   0;
    transform: translateY(20px);
  }

}
