@import "../../../../styles/tools/textures";

.DrawDuoDisplay
{
  background-color: #7b8fd8;
  position:         fixed;
  top:              0;
  left:             0;
  right:            0;
  bottom:           0;
}