@import "../../../../styles/tools/textures";

.DrawDuoDisplay
{
  background-color: #b1d7f3;
  position:         fixed;
  top:              0;
  left:             0;
  right:            0;
  bottom:           0;
}