@import "../../../../styles/settings/sizes";
@import "../../../../styles/tools/buttons";
@import "../../../../styles/tools/inputs";
@import "../../../../styles/tools/layout";
@import "../../../../styles/tools/text";
@import "../../../../styles/tools/textures";

.DrawDuoDisplayRoundResults
{
  position:       fixed;
  top:            0;
  left:           0;
  right:          0;
  bottom:         0;
  display:        flex;
  flex-direction: column;
  //align-items:     center;
  //justify-content: center;
}

.DrawDuoDisplayRoundResults__header
{
  text-align: center;
  position:   relative;
  width:      100%;
}

.DrawDuoDisplayRoundResults__header__title
{
  margin-bottom: 10px;
}

.DrawDuoDisplayRoundResults__header__subtitle
{
  position: absolute;
  left:     0;
  right:    0;
}

.DrawDuoDisplayRoundResults__content
{
  @include fullSize;
  display:     flex;
  align-items: center;
}

.DrawDuoDisplayRoundResults__countdown
{
}

.DrawDuoDisplayRoundResults__pairs
{
  margin-top: -50px;
}