@import "../../styles/settings/sizes";
@import "../../styles/tools/buttons";
@import "../../styles/tools/inputs";
@import "../../styles/tools/layout";

.UserImage
{
  width:            100px;
  height:           100px;
  background-color: #FFFFFF;
  border-radius:    50%;
  border:           2px solid #000000;

  &.UserImage--size-small
  {
    width:  75px;
    height: 75px;
  }

}