@import "../../styles/settings/sizes";
@import "../../styles/tools/animations";
@import "../../styles/tools/buttons";
@import "../../styles/tools/inputs";
@import "../../styles/tools/layout";
@import "../../styles/tools/responsive";
@import "../../styles/tools/text";

.AppLoadingScreen
{
  position:        fixed;
  top:             0;
  left:            0;
  right:           0;
  bottom:          0;
  display:         flex;
  align-items:     center;
  justify-content: center;
}

.AppLoadingScreen__content
{
  text-align: center;
}

.AppLoadingScreen__title
{
  @include hugeHeading;
  text-align:    center;
  margin-bottom: 10px;

  @include smallDevice
  {
    @include hugeHeadingMobile;
  }

}

.AppLoadingScreen__subtitle
{
  @include mediumHeading;
  text-align: center;
  margin:     0 20px;

  @include smallDevice
  {
    @include mediumHeadingMobile;
  }

}

.AppLoadingScreen__loading
{
  @include smallFaintText;
  margin-top: 10px;
}
