@import "../../styles/tools/buttons";
@import "../../styles/tools/inputs";
@import "../../styles/tools/layout";

@mixin joinable
{

  .LandingScreen--joinable &
  {
    @content;
  }

}

.LandingScreen
{
}

.LandingScreen__intro
{
  display:         flex;
  justify-content: center;
  flex-direction:  column;
  height:          100%;
  padding:         20px;
}

.LandingScreen__intro__icon
{
  width:            100px;
  height:           100px;
  background-color: #FFFFFF;
  border-radius:    50%;
  margin:           -10px auto 10px auto;
  box-shadow:       0 1px 1px rgba(0, 0, 0, 0.1), 0 4px 18px rgba(0, 0, 0, 0.1);
}

.LandingScreen__intro__title
{
  @include largeHeading;
  text-align:    center;
  margin-bottom: 10px;
}

.LandingScreen__intro__slogan
{
  @include smallFaintText;
  text-align:  center;
  margin:      0 20px;
  line-height: 20px;
}

.LandingScreen__bottom
{
  height:   100%;
  display:  flex;
  overflow: hidden;
}

.LandingScreen__bottom__side
{
  height:          100%;
  display:         flex;
  align-items:     center;
  justify-content: center;
  text-transform:  uppercase;
  font-weight:     700;
  font-size:       14px;
  position:        relative;
  overflow:        hidden;

  &.LandingScreen__bottom__side--left
  {

  }

  &.LandingScreen__bottom__side--right
  {

  }

}

.LandingScreen__bottom__side__text
{
  position:        absolute;
  top:             0;
  left:            0;
  right:           0;
  bottom:          0;
  display:         flex;
  align-items:     center;
  justify-content: center;
  transition:      transform 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96), opacity 300ms ease;

  &:first-child
  {

    .LandingScreen__bottom__side--active &,
    .LandingScreen__bottom__side--inactive &
    {
      transform: translateY(-20px);
      opacity:   0;
    }

  }

  &:last-child
  {
    transform: translateY(20px);
    opacity:   0;

    .LandingScreen__bottom__side--active &,
    .LandingScreen__bottom__side--inactive &
    {
      transform: translateY(0);
      opacity:   1;
    }

  }

}

.LandingScreen__bottom__input
{
  height:          100%;
  display:         flex;
  align-items:     center;
  justify-content: center;
  position:        relative;
  transition:      opacity 300ms ease, transform 300ms cubic-bezier(0.46, 0.03, 0.52, 0.96);
  opacity:         0;
  transform:       translateY(20px);

  &.LandingScreen__bottom__input--active
  {
    opacity:   1;
    transform: translateY(0);
  }

}

.LandingScreen__bottom__input__label
{
  position:    absolute;
  top:         50%;
  margin-top:  -10px;
  left:        0;
  right:       0;
  font-weight: 700;
  font-size:   14px;
  transition:  color 300ms ease, transform 300ms ease, font 300ms ease;

  .LandingScreen__bottom__input--sessionCodeInput &
  {
    color:       #909090;
    font-weight: 500;
    transform:   translate(-10px, -20px) scale(0.9);
  }

}

.LandingScreen__bottom__input__input
{
  border-bottom: 1px solid #D0D0D0;
  padding:       3px 0;
  width:         100%;
  color:         #000000;
  font-weight:   700;
  font-size:     14px;
  position:      relative;

  @include placeholder
  {
    color: transparent;
  }

}
