@import "../../styles/tools/buttons";
@import "../../styles/tools/inputs";
@import "../../styles/tools/layout";

@mixin joinable
{

  .LandingScreen__options--joinable &
  {
    @content;
  }

}

.LandingScreen
{
}

.LandingScreen__intro
{
  display:          flex;
  align-items:      center;
  justify-content:  center;
  height:           33vh;
  background-color: #F0F0F0;
}

.LandingScreen__intro__title
{
  font-size:   32px;
  line-height: 36px;
  font-weight: 500;
}

.LandingScreen__blurb
{
  @include sideMargin;
  @include topMargin;
  font-size: 14px;

  p
  {
    margin-top: 10px;

    &:first-of-type
    {
      margin-top: 0;
    }

  }

}

.LandingScreen__joinInputWrapper
{
  position: relative;
}

.LandingScreen__joinInput__clearButton
{
  @include clearButton;
  position:   absolute;
  top:        18px;
  right:      0;

  transition: opacity 300ms ease, transform 300ms ease, visibility 0s 300ms;
  transform:  translateY(100%);
  opacity:    0;
  visibility: hidden;

  @include joinable
  {
    transform:        translateY(0);
    opacity:          1;
    visibility:       visible;
    transition-delay: 0s;
  }

}

.LandingScreen__joinButtonWrapper
{
  position:   absolute;
  top:        100%;
  left:       0;
  right:      0;
  margin-top: 20px;

  transition: opacity 300ms ease, transform 300ms ease, visibility 0s 300ms;
  transform:  translateY(100%);
  opacity:    0;
  visibility: hidden;

  @include joinable
  {
    transform:        translateY(0);
    opacity:          1;
    visibility:       visible;
    transition-delay: 0s;
  }

}

.LandingScreen__options
{
  margin-bottom: 20px;
  position:      fixed;
  left:          20px;
  right:         20px;
  bottom:        0;
}

.LandingScreen__options__divider
{
  margin:     20px 0;
  font-style: italic;
  text-align: center;
}

.LandingScreen__option
{

  &.LandingScreen__option--input
  {
  }

  &.LandingScreen__option--action
  {
  }

}

.LandingScreen__options__divider,
.LandingScreen__option--action
{
  transition: opacity 300ms ease, transform 300ms ease;

  @include joinable
  {
    transition: opacity 300ms ease, transform 300ms ease, visibility 0s 300ms;
    transform:  translateY(100%);
    opacity:    0;
    visibility: hidden;
  }

}
